# # # # # # # # # # # # # # # # # # # # # # # # # # #
#    ___ _____  __  _    ___ ___   _   _____   __   #
#   | __/ __\ \/ / | |  | __/ __| /_\ / __\ \ / /   #
#   | _|\__ \>  <  | |__| _| (_ |/ _ \ (__ \ V /    #
#   |___|___/_/\_\ |____|___\___/_/ \_\___| |_|     #
#                                                   #
#     Discord: https://discord.gg/esx-framework     #
#     Website: https://esx-framework.org/           #
# # # # # # # # # # # # # # # # # # # # # # # # # # #

# Merci d'utiliser cette base en cas de problème n'hésiter pas à me DM Xeltax_#6455

# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:18770"
endpoint_add_udp "0.0.0.0:18770"

### Endpoints Privacy ###
sv_endpointPrivacy true

sv_hostname "Legacy OX by Xeltax"
set steam_webApiKey TonAPIKEY
sv_licenseKey TaCleDeLiscence
sv_maxclients 10   # Allow access to features usually locked behind a FiveM patreon key
sv_enforceGameBuild 2699

sets sv_projectName "Legacy OX by Xeltax"
sets sv_projectDesc "Une base pas encore config mais cela devrais venir..."
sets tags "default, esx, esx legacy, legacy, official, roleplay, Xeltax"
sv_scriptHookAllowed 0

set onesync on  # Enable OneSync [REQUIRED FOR LEGACY 1.7.5 +]
set mysql_connection_string "mysql://root@localhost/ox_test?waitForConnections=true&charset=utf8mb4"
set mysql_ui true

setr esx:locale "fr"

## These resources will start by default.
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure hardcap

## Add system admins
add_principal group.admin group.user
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
add_principal identifier.fivem:f3f6403e41106442b3bbe752334eb742293c8f50

## Default & Standalone resources
ensure chat-theme-gtao # Cool Chat theme
ensure oxmysql
ensure ox_lib

## ESX Legacy
ensure es_extended
ensure ox_inventory
ensure ox_target
ensure [esx]

## ESX Addons
ensure [esx_addons]
stop basic-gamemode #remove this if you don't want to use multicharacter

exec inventory.cfg
